{% extends 'backend/base.html' %}

{% block title %} Edit Product {% endblock %}

{% block content %}
    <h1>Edit Product</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ product.title }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control">{{ product.description }}</textarea>
        </div>

        <!-- Variants Section -->
        {% for variant_data in product_variant_data %}
            <div class="form-group">
                <label>Variant</label>
                <p>{{ variant_data.variant_combination }}</p>
            </div>
            <div class="form-group">
                <label for="variant_price_{{ variant_data.pk }}">Price for Variant</label>
                <input type="text" name="variant_price_{{ variant_data.pk }}" class="form-control" value="{{ variant_data.price }}">
            </div>
            <div class="form-group">
                <label for="variant_stock_{{ variant_data.pk }}">Stock for Variant</label>
                <input type="text" name="variant_stock_{{ variant_data.pk }}" class="form-control" value="{{ variant_data.stock }}">
            </div>
        {% endfor %}
        <!-- End of Variants Section -->

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}
